/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(0, 0, 0);
    
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}

.flex-container{
    display: flex;
}

.btn{
    color: white;
    background-color: rgba(147, 144, 144, 0.5);
    border: 0;
    padding: 5px 4px;
    border-radius: 3px;
    font-size: 10px;
    display: inline-block;
}

img{
    width: 100%;
    height: 100%;
}

ul{
    list-style-type: none;
}

/* HEADER */
.action-top{
    height: 40px;
    background-color: black;
    position: relative;
}

.action-top .btn:last-child{
    
}

.action-top button{
    position: absolute;
    top: 3px;
}

.btn.view-icon{
    right: 4px;
    padding: 5px 6px;
}

.btn.speaker-view{
    right: 33px;
}

/* MAIN */
main{
    overflow-y: auto;
}
main .container.flex-container{
    justify-content: space-between;
    flex-wrap: wrap;
    height: calc(100vh - 110px); 
    
}
.card{
    width: 220px;
    height: 160px;
    position: relative;
    padding: 5px 2px;
}

.btn.microphone{
    border-radius: 0;
    padding: 2px 5px;
    font-size: 10px;
    position: absolute;
    bottom: 5px;
    left: 0;
}

/* FOOTER */ 
footer{
    background-color: #222222;
}
.action-bottom{
    height: 70px;
    justify-content: space-between;
    align-items: center;
    line-height: 70px;
}

.action-bottom ul li{
    background-color: #22222200;
}

.btn.bottom {
    background-color: #22222200;
}
.icon-info{
    padding-top: 10px;
    text-align: center;
}

.fas.fa-angle-up{
    font-size: 10px;
}

.share-screen i{
    color: #44ae07;
}

.angle{
    color: white;
    padding: 0 10px;
}

.end-meeting{
    color: red;
    height: 100%;
    border-radius: 0;
    padding: 0 15px;
}
